{% extends "borda/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">

    <!-- Author information -->
    <div class="media">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h4 class="mt-0"><a href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a></h4>
            <h6 class="mt-0">{{ post.author.email }}</h6>
        </div>
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{post.content}}</h1>
        <p>
            Posted on {{ post.date_posted|date:"F d, Y" }}
            {% if post.author == user %}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'post_update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
                href="{% url 'post_delete' post.id %}">Delete</a>
            {% endif %}
        </p>
    </div>
    <hr>

    <!-- Preview Image -->
    <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
    <hr> -->

    <!-- Post Content -->
    <!-- <p class="lead">{{ post.content|safe|linebreaks }}</p>
    <hr> -->
    
    <!-- {{post.options}} -->
    <!-- Poll Drag & Drop -->
    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <script type="text/javascript">
        Survey.StylesManager.applyTheme("bootstrap");
        Survey.defaultBootstrapCss.navigationButton = "btn btn-green";
        var pollTitle = `{{post.title}}`
        var options = `{{post.options}}`;
        options = options.split(',')
        var json = {
            "pages": [
                {
                    "name": "page1",
                    "elements": [
                        {
                            "type": "ranking",
                            "name": "Poll-features",
                            "title": pollTitle,
                            "isRequired": true,
                            "choices": options
                        }
                    ]
                }
            ]
        };

        window.survey = new Survey.Model(json);
        survey.onValueChanged.add(function (sender) {
            let options = sender.data['Poll-features'] + ''
            console.log(options,'options')
        });
        survey.showNavigationButtons = false;
        survey.onComplete.add(function (sender) {
                            document
                                .querySelector('#surveyResult')
                                .textContent = "Result JSON:\n" + JSON.stringify(sender.data, null, 3);
                            });

        $("#surveyElement").Survey({model: survey});
    </script>

    <!-- Like -->
    <!-- {% if user.is_authenticated %}
    {% endif %} -->



</div>
{% endblock content %}
