{% extends "borda/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">

    <!-- Author information -->
    <div class="media">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
        <div class="media-body">
            <h4 class="mt-0">Posted by {{ post.author }}</h4>
            <h6 class="mt-0">{{ post.author.email }}</h6>
        </div>
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <h1 class="mt-4">{{post.title}}</h1>
        <h2>{{post.content}}</h2>
        <p>
            Posted on {{ post.date_posted|date:"F d, Y" }}
        </p>
    </div>
    <hr>
    
    <!-- Poll Options -->
    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
    <div id="surveyResult"></div>
    <script type="text/javascript">
        Survey.StylesManager.applyTheme("bootstrap");
        Survey.defaultBootstrapCss.navigationButton = "btn btn-green";
        var pollTitle = ``
        var options = `{{post.options}}`;
        options = options.split(',')
        var json = {
            "showQuestionNumbers": "off",
            "pages": [
                {
                    "name": "page1",
                    "elements": [
                        {
                            "type": "ranking",
                            "name": "",
                            "title": pollTitle,
                            "choices": options
                        }
                    ]
                }
            ]
        };

        window.survey = new Survey.Model(json);
        survey.onValueChanged.add(function (sender) {
            let options = sender.data['Poll-features'] + '';
            console.log(options,'options');
            document.getElementsByName('options')[0].innerHTML = options;
        });
        survey.showNavigationButtons = false;
        $("#surveyElement").Survey({model: survey});
    </script>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>



</div>
{% endblock content %}